*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.logo-holder {
    width: 100%;
    height: 80px;
    font-size: 30px;
    
    background-color:  rgba(0, 0, 0, 0.3);

    color: white;
    font-family: 'Texturina', serif;
    font-weight: 100;
    align-items: center;
    justify-content: center;
    display: flex;
}

.logo-holder span {
    padding-right: 20px;
    padding-bottom: 8px;
}




.element-list{
    height:100vh;
    width: 290px;
    flex-shrink: 0;
    border: 2px solid black;
    
    
    background-image: linear-gradient(210deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
    flex-direction: column;
    z-index: 2;
    position: fixed;
    overflow-y: auto;
}

/* Prevents inconsistent highlighting of element while being dragged
   Copied from https://stackoverflow.com/questions/826782 */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.workspace{
    background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png"), linear-gradient(165deg, #141E30, #0d0f1d);
    background-color: #312f2f;
    /*https://www.transparenttextures.com/*/
    background-color: #312f2f;
    /*background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");*/
    

    height:100vh;
    flex-grow: 1;
    color: white;
}

.element {
    display: flex;
    padding-left: 40px;
    padding-right: 80px;
    align-items: center;
    padding-top: 20px;
    justify-content: flex-end;
    color: white;
    font-family: 'Texturina', serif;
    font-weight: 200;
    list-style-type: none;
}

.element-img {
    font-size: 60px;
    cursor: grab;   
}

.element h1 {
    font-size: 20px;
    padding-right: 30px;
}