@charset "UTF-8";
.twa {
  display: block;
  height: 60px;
  width: 60px;
  margin: 0;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1em ;
}

.twa-test-tube {
    background-image: url("https://twemoji.maxcdn.com/2/svg/1f9ea.svg"); }

.twa-fire {
    background-image: url("https://twemoji.maxcdn.com/2/svg/1f525.svg"); }

.twa-water {
  background-image: url("https://twemoji.maxcdn.com/2/svg/1f4a7.svg"); }
  
.twa-earth {
    background-image: url("https://twemoji.maxcdn.com/2/svg/26f0.svg"); }
  
.twa-air {
    background-image: url("https://twemoji.maxcdn.com/2/svg/1f32b.svg"); }
  
.twa-question-mark {
  background-image: url("https://twemoji.maxcdn.com/2/svg/2753.svg"); }

.twa-question {
  background-image: url("https://twemoji.maxcdn.com/2/svg/2753.svg"); }

.twa-white-question-mark {
  background-image: url("https://twemoji.maxcdn.com/2/svg/2754.svg"); }

.twa-name {
  background-image: url("https://twemoji.maxcdn.com/2/svg/2754.svg"); }

.twa-steam {
  background-image: url("https://twemoji.maxcdn.com/2/svg/1f4a8.svg"); }

.twa-mud {
  background-image: url("https://twemoji.maxcdn.com/2/svg/1f3ff.svg"); }

.twa-wind {
  background-image: url("https://twemoji.maxcdn.com/2/svg/1f32c.svg"); }

.twa-cloud {
  background-image: url("https://twemoji.maxcdn.com/2/svg/2601.svg"); }

.twa-volcano {
  background-image: url("https://twemoji.maxcdn.com/2/svg/1f30b.svg"); }

.twa-sky {
  background-image: url("https://twemoji.maxcdn.com/2/svg/1f301.svg"); }

.twa-sea {
  background-image: url("https://twemoji.maxcdn.com/2/svg/1f30a.svg"); }

.twa-ocean {
  background-image: url("https://twemoji.maxcdn.com/2/svg/1f305.svg"); }

.twa-brick {
  background-image: url("https://twemoji.maxcdn.com/2/svg/1f9f1.svg"); }

.twa-house {
  background-image: url("https://twemoji.maxcdn.com/2/svg/1f3e0.svg"); }

.twa-village {
  background-image: url("https://twemoji.maxcdn.com/2/svg/1f3d8.svg"); }

.twa-city {
  background-image: url("https://twemoji.maxcdn.com/2/svg/1f306.svg"); }

.twa-stone {
  background-image: url("https://twemoji.maxcdn.com/2/svg/1faa8.svg"); }

.twa-fountain {
  background-image: url("https://twemoji.maxcdn.com/2/svg/26f2.svg"); }
  
.twa-river {
  background-image: url("https://twemoji.maxcdn.com/2/svg/1f3de.svg"); }
  

